/* Start adding your styling below! */ 
/*.bg {
   background-color: yellow;
} */

body {
    background-color: yellow;
    color:green;
    /*text-align: center; */
}

h1 {
    font-size:36px;
}

.center {
  text-align: center; 
}
 /*id*/
#cool-text {
    color : blue;
}